
body, html {
    height: 100%;
    background-color:black;
  }


 .mobile-Nav{
     position: fixed;
  } 

  /* Scroll bar */
body::-webkit-scrollbar {
  width: 0.2em;
}

body::-webkit-scrollbar-thumb {
background-color:  gray;
outline: 1px solid rgb(7, 7, 7);

}



/* Navbar for mobile*/
.overlay{
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    left:-100vw;
    top: 0;
    left: 0;
    background-color: rgb(241, 234, 234);
    color: rgb(12, 12, 12);
    overflow: hidden; 
    transition: 0.5s;
  }

.overlay-content ul{
   list-style: none;
 }

  /* Position the content inside the overlay */
.overlay-content {
    position: relative;
    top: 25%;
    width: 100%; 
    text-align: center; 
    margin-top: 30px; 
}

  /* The navigation links inside the overlay */
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: black;
    display: block; 
    transition: 0.3s; 
    font-size: 1.5em;
}

  /* Position the close button (top right corner) */ 
.overlay .closebtn {
    position: absolute;
    right: 35px;
    top: 2px;
    font-weight: 900;
  }

 /*media icons */
.icon{
    display: inline-block;
    font-size: 1.5em;
    border: 1.5px solid white;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    text-align: center;
    padding-top: 2px;
}
  /* media icons */
  .icon.mobile{
    float: right;
    color: white;
  }

 /* burger navbar */
.Bars{
    margin-left: -5vw;
}

.Desktop{
    display: none;

}

/* navbar */
.navbar-expand-lg{
    color: black;
    font-size: 1.5em;
}

  a {
    color: black;
  }


  /* footer */
  .icon{
    display: inline-block;
    font-size: 1.5em;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    text-align: center;
    padding-top: 7px;
    border-radius: 50px;
    background-color: rgb(128,128,128);
}

.mediaIcons{
  color: white;
}

.icon a:hover{
  color: #000;
}
  a:hover{
      color: rgb(128,128,128);
  }


  .navbar{
      position: fixed;
  }

  .social{
      z-index: 2;
      position: fixed;
  }

 

  .media{
      color: white;
      display: inline-block;
  }

  .FullName{
    color: white;
  }

  

  
/* -Large devices (ipad pro) */ 
@media (min-width: 992px) { 
  .mobile-only{
      display: none;
  }
  .Desktop{
  display: block;
  color: black;
  }  
  .DesktopOnly{
      display: block;  
  }

  .navbar-nav{
    transform: translateX(650px);
  }

  .PortfolioDiv{
    padding-top: 60px;
    padding-bottom: 60px;

.mobile-Nav{
  position: fixed;
} 
.navbar{
  position: fixed;
}


.FooterText{
  text-align: center;
  color: white;
}

.icons{
  display: inline-block;
  font-size: 1.5em;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  text-align: center;
  padding-top: 7px;
  
}

 /* -Large devices (ipad pro) */
 @media (min-width: 992px) { 



  .mobile-Nav{
      transform: translateX(840px);
    }
}


@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {}